In [5]:
import sys

In [6]:
sys.path.append("..")

## Model Building

In [7]:
from house_prices.train import build_model
import pandas as pd
df=pd.read_csv("../data/train.csv")
build_model(df)

0.804549138068474

## Model Inference

In [8]:
from house_prices.test import make_prediction
import pandas as pd
df=pd.read_csv("../data/test.csv")
make_prediction(df)

        ID      SalePrice
0     1461  114368.439899
1     1462  169846.825888
2     1463  159635.355631
3     1464  187703.158023
4     1465  256893.857746
...    ...            ...
1454  2915   85547.582615
1455  2916   87715.613079
1456  2917  144803.454827
1457  2918  134283.253068
1458  2919  209278.695162

[1459 rows x 2 columns]

## Bonus Part

In [12]:
from house_prices import train, test
import pandas as pd
df=pd.read_csv("../data/train.csv")
dftest=pd.read_csv("../data/test.csv")
print(train.build_model(df))
test.make_prediction(dftest)

0.804549138068474

        ID      SalePrice
0     1461  114368.439899
1     1462  169846.825888
2     1463  159635.355631
3     1464  187703.158023
4     1465  256893.857746
...    ...            ...
1454  2915   85547.582615
1455  2916   87715.613079
1456  2917  144803.454827
1457  2918  134283.253068
1458  2919  209278.695162

[1459 rows x 2 columns]