In [1]:
import sys

In [2]:
sys.path.append("..")

## Model Building

In [3]:
from house_prices.train import build_model
import pandas as pd
df=pd.read_csv("../data/train.csv")
build_model(df)

0.804549138068474

## Model Inference

In [4]:
from house_prices.inference import make_prediction
import pandas as pd
df=pd.read_csv("../data/test.csv")
make_prediction(df)

        ID      SalePrice
0     1461   35600.874912
1     1462  116766.397349
2     1463   80867.790643
3     1464  134622.729485
4     1465  203813.429207
...    ...            ...
1454  2915    6780.017627
1455  2916    8948.048092
1456  2917   66035.889839
1457  2918   55515.688081
1458  2919  130511.130174

[1459 rows x 2 columns]

## Bonus Part

In [7]:
from house_prices import train, inference
import pandas as pd
df=pd.read_csv("../data/train.csv")
dftest=pd.read_csv("../data/test.csv")
print(train.build_model(df))
inference.make_prediction(dftest)

0.804549138068474

        ID      SalePrice
0     1461   35600.874912
1     1462  116766.397349
2     1463   80867.790643
3     1464  134622.729485
4     1465  203813.429207
...    ...            ...
1454  2915    6780.017627
1455  2916    8948.048092
1456  2917   66035.889839
1457  2918   55515.688081
1458  2919  130511.130174

[1459 rows x 2 columns]